<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Weather</title>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="header-icon">
            <h1><%= cityName %></h1>
            <img src=" <%= weatherIcon %>" />
        </div>
        <p>
            The weather in <%= cityName %> is currently <%= weatherDescription
            %>. <br />
            The temperature is <%= cityTemp %> °C.
        </p>

        <form class="new-search" action="/failure" method="POST">
            <button class="btn btn-lg btn-light">New Search</button>
        </form>
    </body>
</html>
